calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CalculatorService"
             targetNamespace="http://example.com/calculator"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/calculator"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://example.com/calculator">
            <!-- Definici贸n para Add -->
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="number1" type="xsd:float"/>
                        <xsd:element name="number2" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Definici贸n para Subtract -->
            <xsd:element name="SubtractRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="number1" type="xsd:float"/>
                        <xsd:element name="number2" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubtractResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Definici贸n para Multiply -->
            <xsd:element name="MultiplyRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="number1" type="xsd:float"/>
                        <xsd:element name="number2" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MultiplyResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Definici贸n para Divide -->
            <xsd:element name="DivideRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="number1" type="xsd:float"/>
                        <xsd:element name="number2" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DivideResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Mensajes para Add -->
    <message name="AddRequest">
        <part name="parameters" element="tns:AddRequest"/>
    </message>
    <message name="AddResponse">
        <part name="parameters" element="tns:AddResponse"/>
    </message>
    
    <!-- Mensajes para Subtract -->
    <message name="SubtractRequest">
        <part name="parameters" element="tns:SubtractRequest"/>
    </message>
    <message name="SubtractResponse">
        <part name="parameters" element="tns:SubtractResponse"/>
    </message>
    
    <!-- Mensajes para Multiply -->
    <message name="MultiplyRequest">
        <part name="parameters" element="tns:MultiplyRequest"/>
    </message>
    <message name="MultiplyResponse">
        <part name="parameters" element="tns:MultiplyResponse"/>
    </message>
    
    <!-- Mensajes para Divide -->
    <message name="DivideRequest">
        <part name="parameters" element="tns:DivideRequest"/>
    </message>
    <message name="DivideResponse">
        <part name="parameters" element="tns:DivideResponse"/>
    </message>

    <portType name="CalculatorPortType">
        <operation name="Add">
            <input message="tns:AddRequest"/>
            <output message="tns:AddResponse"/>
        </operation>
        <operation name="Subtract">
            <input message="tns:SubtractRequest"/>
            <output message="tns:SubtractResponse"/>
        </operation>
        <operation name="Multiply">
            <input message="tns:MultiplyRequest"/>
            <output message="tns:MultiplyResponse"/>
        </operation>
        <operation name="Divide">
            <input message="tns:DivideRequest"/>
            <output message="tns:DivideResponse"/>
        </operation>
    </portType>

    <binding name="CalculatorBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation soapAction="http://example.com/calculator/Add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Subtract">
            <soap:operation soapAction="http://example.com/calculator/Subtract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Multiply">
            <soap:operation soapAction="http://example.com/calculator/Multiply"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Divide">
            <soap:operation soapAction="http://example.com/calculator/Divide"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CalculatorService">
        <port name="CalculatorPort" binding="tns:CalculatorBinding">
            <soap:address location="https://tu-servicio-render.onrender.com/calculator"/>
        </port>
    </service>
</definitions>